:root {
    --color-main-green: #6EAA78;
    --color-secondary-green: #557064;
    --color-tertiary-green: #465f4f;
    --color-white: #FFF;
    --color-black: #111;
    --color-main-gray: #DBDFEA;
    --font-main-color: #444;
    --font-secondary-color: #FFF;
    --font-third-color: #ddd;
    --font-size: 12px;
    --shadow-main-color: #000A;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: sans-serif;
}

/*----------------------------------------------- Header Section ------------------------------------------------*/

.header{
    background-color: var(--color-main-green);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: 0 0 5px var(--shadow-main-color);
    overflow: hidden;
}
.nav__list{
    display: flex;
    justify-content: end;
}
.nav__list-item{
    list-style: none;
}
.nav__list-link{
    padding: 100px 20px;
    background-color: transparent;
    color: var(--font-main-color);
    text-decoration: none;
}
.nav__list-link:is(:hover, :active){
    color: var(--color-white);
    background-color: var(--color-secondary-green);
}

/*------------------------------------------------ Main Section ------------------------------------------------*/

.form, .sim
{
    margin: 20px;
}

.form__container, .sim
{
    color: var(--font-main-color);
    background-color: var(--color-main-gray);
    box-shadow: 0 0 5px var(--shadow-main-color);
    padding: 10px;
}

h1
{
    color: var(--font-main-color);
    text-align: center;
    padding: 30px;
    margin: 0;
}

.form__fieldset
{
    margin: 10px;
}

.form__form
{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form__fieldset legend
{
    font-weight: bold;
}

.form__input-container
{
    color: var(--font-main-color);
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form__input-container label
{
    font-size: 1.1rem;
    font-weight: bold;
}

.input-container__data-container
{
    font-size: 1rem;
    font-weight:normal;
    text-align: center;
    display: flex;
    align-items: end;
    gap: 20px;
}

.form__input-container input
{
    margin-top: 10px;
    height: 15px;
    width: 480px;
    appearance: none; 
    background-color: var(--color-white);
    outline: none;
    box-shadow: 0 0 2px var(--shadow-main-color);
}

.form__input-container input::-webkit-slider-thumb
{
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: var(--color-secondary-green);
    border-radius: 50%;
    cursor: pointer;
}

.input-container__value
{
    color: #111;
    font-weight: bold;
}

.form__button-container
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form__button
{
    color: var(--color-white);
    background-color: var(--color-tertiary-green);
    letter-spacing: 3px;
    padding: 10px 40px;
}

/*------------------------------------------------ Sim Section -------------------------------------------------*/

.sim
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.sim__container, .graph__container
{
    background-color: #FFF;
    height: 300px;
}

canvas
{
    border: 1px solid var(--font-main-color);
}
/*----------------------------------------------- Footer Section -----------------------------------------------*/

.footer{
    padding: 60px 10px;
    text-transform: capitalize;
    background-color: var(--color-main-green);
    color: var(--font-secondary-color);
    box-shadow: 0 0 5px var(--shadow-main-color);
}

.footer__p{
    color: var(--font-third-color);
    font-size: 1.2rem;
    text-wrap:balance;
    text-align: center;
}
